/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
}

/* Banner styles */
#banner {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #292929;
    border-bottom: 2px solid #ff7700;
}

#banner H1 {
    font-size: 6em;
}

#profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #444;
    margin-right: 40px;
    margin-left: 50px;
    display: flex;
    border: #ff7700 2px solid;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#profile-picture:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3);
}

#profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#personal-info h1 {
    margin: 0;
    color: #ff7700;
}

#personal-info ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.info-items{
    display: inline;
}

#email {
    width: 30px;
    margin-bottom: -6px;
}

#location {
    width: 30px;
}

#personal-info ul li {
    margin: 5px 0;
}

#social-links a {
    color: #ff7700;
    margin-right: 10px;
    text-decoration: none;
}

#social-links a:hover {
    text-decoration: underline;
}

#linkedin {
    width: 30px;
    margin-bottom: -5px;
}

#github {
    width: 30px;
    margin-bottom: -5px;
}

/* Navigation bar styles */
#navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    border-top: 2px solid #ff7700;
    border-bottom: 2px solid #ff7700;
}

#navbar button {
    background-color: #444;
    color: #f0f0f0;
    border: 1px solid #555;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

#navbar button:hover {
    background-color: #555;
    border-color: #ff7700;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

#navbar button:focus {
    outline: none;
    background-color: #ff7700;
    color: #1e1e1e;
}

#navbar button:active {
    background-color: #333;
    border-color: #ff5500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#download-icon {
    width: 20px;
    margin-bottom: -1px;
    padding-left: 2px;
}

/* Content section styles */
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    background-color: #292929;
    border: 2px solid #a15919;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.info-section {
    text-align: center;
    margin: 20px 0;
}

.info-section h2 {
    color: #ff7700;
    margin-bottom: 15px;
    border-bottom: 1px solid #ff7700;
    display: inline-block;
    padding-bottom: 5px;
}

.info-section p {
    color: #f0f0f0;
    line-height: 1.6;
    font-size: 16px;
}

/* Work Experience Display */
#Keywords {
    display: flex;
}

.job-logo {
    display: flex;
    justify-content: center;
    margin-left: 65px;
}

.info-section .job {
    margin-bottom: 20px;
}

.job h3 {
    margin: 0;
    font-weight: bold;
    font-size: 2em;
    color: #ff7700;
}

.company-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    font-style: italic;
    font-size: 1em;
    color: #f0f0f0;
    border-bottom: 1px solid #ff7700;
    padding-bottom: 5px;
}

.dates {
    text-align: right;
    font-size: 0.9em;
    color: #bbb;
}

.info-section ul {
    margin: 15px 0 0 20px;
    padding-left: 20px;
    list-style-type: disc;
}

.info-section ul li {
    margin: 8px 0;
    font-size: 1em;
    line-height: 1.6;
    color: #f0f0f0;
    text-align: left;
}

.info-section ul li::marker {
    color: #ff7700;
}

/* Coding Tools and Language */
.tools-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
}

.tile {
    background-color: #292929;
    border: 2px solid #a15919;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    max-width: 48%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.tile h3 {
    color: #ff7700;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.item-tile {
    display: flex;
    align-items: center;
    min-width: 180px;
    gap: 10px;
    background-color: #1e1e1e;
    border: 1px solid #a77964;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.item-tile:hover {
    transform: scale(1.05);
    background-color: #ff7700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-color: #ff7700;
    transform-origin: center;
}

.item-tile:hover p {
    color: #1e1e1e;
}

.item-tile:hover img {
    filter: brightness(0) invert(1);
}

.item-tile img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.item-tile p {
    font-size: 1em;
    color: #f0f0f0;
    margin: 0;
}


/* Default display for Projects */
#projects {
    display: block;
}